{% extends 'orders/base.html' %}

{% block content %}
<div class="container bg-white rounded shadow p-4 my-4">
    <form action="{% url 'create_category_expenses' %}" method="post">
        {% csrf_token %}
        <h2>Создать категорию для расходов</h2>
        <div class="row g-3 mb-3">
            <div class="col-12">
                <label for="{{ form.title.id_for_label }}" class=""></label>
                {{ form.title }}
            </div>
            <div class="col-12">
                <label for="{{ form.color.id_for_label }}" class=""></label>
                {{ form.color }}
            </div>
        </div>
        <div class="row g-3 mb-4">
            <div class="col-md-6">
              <input type="submit" value="Сохранить" class="btn btn-primary w-100 w-md-auto">
            </div>
            <div class="col-md-6">
              <a href="{% url 'create_income' %}" class="btn btn-outline-secondary w-100 w-md-auto">Отмена</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}