{% extends 'orders/base.html' %}

{% block content %}
<div class="container bg-white rounded shadow p-4 my-4">
    <div class="row align-items-center mb-4">
            <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-0">
                <h2 class="col">Финансы</h2>
            </div>
    </div>
    <div class="row">
        <div class="col-6  text-success">
            <h4>Кошелек - <a href="{% url 'update_wallet' %}">{{ wallet.cash|floatformat:2 }} ₽</a></h4>
        </div>
        <div class="col-6 text-end text-danger">
            <h4>Вам должны - <a href="{% url 'update_debt' %}">{{ debt.debt|floatformat:2 }} ₽</a></h4>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-6">
            <h2 class="text-center">Доходы</h2>
            {% for inc in income %}
                <div class="row">
                    <h5 class="col-4 text-center">{{ inc.title.title }}</h5>
                    <h5 class="col-4 text-center">{{ inc.total_sum}}</h5>
                    <h5 class="col-4 text-center">{{ inc.date.date}}</h5>
                </div>
            {% endfor %}
        </div>
        <div class="col-6">
            <h2 class="text-center">Расходы</h2>
            {% for ex in expenses %}
                <div class="row">
                    <h5 class="col-4 text-center">{{ ex.title.title }}</h5>
                    <h5 class="col-4 text-center">{{ ex.total_sum}}</h5>
                    <h5 class="col-4 text-center">{{ ex.date.date}}</h5>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}