{% extends 'orders/base.html' %}

{% block content %}
<div class="container bg-white rounded shadow p-4 my-4">
    <div class="row align-items-center mb-4">
            <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-0">
                <h2 class="col">Финансы</h2>
            </div>
    </div>
    <div class="row">
        <div class="col-6  text-success">
            <h4>Кошелек - <a href="{% url 'update_wallet' %}">{{ wallet.cash|floatformat:2 }} ₽</a></h4>
        </div>
        <div class="col-6 text-end text-danger">
            <h4>Вам должны - <a href="{% url 'update_debt' %}">{{ debt.debt|floatformat:2 }} ₽</a></h4>
        </div>
    </div>


</div>

{% endblock %}